<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.theme.name }}" />
  <meta name="description" content="The blog of {{ site.theme.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

  <link href="/assets/css/fontfamily.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/assets/images/favicon.ico">
  <!--[if IE]><link rel="shortcut icon" href="/assets/images/favicon.ico"><![endif]-->
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-152.png">
  <!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon): -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/assets/images/favicon-144.png">
  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicon-152.png">
  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon-144.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicon-120.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicon-114.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon-72.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-57.png">


  <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />

  <link rel="stylesheet" href="/assets/css/all.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
</html>
